.Calendar {
    
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
    background-image: url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    min-height: 91vh;
    align-items: center;
    
}

.HeaderMonth {

    font-family: 'Lobster' , cursive;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: underline;

}

.CalendarHeader {

    display: flex;
    justify-content: space-between;
    width: 90%;
    /* background-color: rgba(94, 94, 94, 0.295); */
    margin: 0 auto;
    align-items: center;

}

.CalendarHeader button {

    margin: 5px;
    transition: .3s;
    outline: none;

}

.CalendarHeader button:hover {

    background-color: white;
    color: black;
    transition: .3s;
    cursor: pointer;

}

.WeekDays {
    background-color: rgba(255, 255, 255, 0.596);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.WeekDays h3 {

    font-family: 'Lobster' , cursive;

}

/* MONTH */

.Month {

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(173, 173, 173, 0.479);
    backdrop-filter: blur( 5px );

}

.month {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    /* background-color: black; */
    justify-content: center;

}

.ind.Today {

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 13%;
    transition: .2s;
    height: 75px;
    margin: 5px;

}

.ind {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    transition: .2s;
    height: 75px;
    margin: 5px;

}

.NoEvent {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: .3s;
}

.NoEvent:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.445);
    cursor: pointer;
    transition: .3s;
}

.Event {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 219, 121, 0.808);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: .3s;
}

.Event:hover {

    cursor: pointer;
    background-color: rgba(255, 187, 0, 0.808);
    transition: .3s;

}

.CalendarHeader a {

    width: 12%;
    background-color: rgb(0, 0, 0);
    transition: .2s;
    color: rgb(255, 255, 255);
    padding: 5px;
    align-items: center;
    text-decoration: none;
    font-size: 15px;

}

.CalendarHeader a:hover {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: .2s;
    cursor: pointer;

}

.EventModal.Active {

    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: .5s; */
}

.EventHeader {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}