.Calendar {
    
    background-color: white;
    /* min-height: 90vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-top: 3px solid black;
    /* background-image: url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    min-height: 90vh;
    
}

.CalendarHeader {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(94, 94, 94, 0.295);
    margin-top: 0px;
    align-items: center;
    height: 130px;

}

.CalendarHeader h3 {

    background-color: white;
    padding: 5px;
    border: 3px solid white;
    margin: 5px;
    font-family: 'Lobster' , cursive;

}

.CalendarHeader button {

    margin: 5px;
    transition: .3s;
    outline: none;

}

.CalendarHeader button:hover {

    background-color: white;
    color: black;
    transition: .3s

}

/* DAY */
.CalendarContainer.Day {

    width: 90%;
    padding: 20px;
    margin: 0 auto;

}

.Day .Section {
    border: 1px solid black;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.507);
}

.Day header {

    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px;

}

.Day header h3 {
    width: auto;
    font-family: 'Lobster' , cursive;
    font-size: 40px;
}

.Status {
    width: 50%;
    margin: 0 auto;
}

.Incomplete {

    color: red;
    background-color: rgba(197, 34, 34, 0.616);

}

.Completed {

    color: green;
    background-color: rgba(57, 165, 57, 0.562);

}

/* WEEK */
.CalendarContainer.Week {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

div.week {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.week div {

    border: 1px solid black;
    padding: 5px;

}


/* MONTH */

.Month {

    width: 100%;
    display: flex;
    flex-direction: column;

}

.month {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    /* background-color: black; */
    justify-content: center;
    padding: 15px;

}

.ind.Today {

    width: 12%;
    background-color: rgba(252, 82, 82, 0.582);
    border: 1px solid black;
    color: white;
    backdrop-filter: blur( 2px );
    transition: .3s;
    height: 75px;
    margin: 5px;

}

.ind {

    width: 12%;
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid black;
    backdrop-filter: blur( 2px );
    transition: .2s;
    height: 75px;
    margin: 5px;
    border-radius: 10px;

}

.ind:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.438);
    transition: .2s;
    border: 1px solid white;

}