
.Container {

    min-height: 92vh;
    background-image: url('https://images.pexels.com/photos/2709274/pexels-photo-2709274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    display: flex;
    background-size: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-attachment: fixed;
    align-items: center;
    margin: 0 auto;

}

.Container header {

    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.349);
    width: 100%;

}

.Container h1 {

    margin: 0px;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Lobster', cursive;

}

.Container h2 {

    margin-top: 0px;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-decoration-color: white;

}

.Container h4 {

    margin: 0px;
    color: rgb(255, 255, 255);

}

.part {

    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur( 4px );
    width: 70%;
    padding: 10px;
    margin: 20px;

}

.incomplete {

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur( 4px );
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: black;

}

.Process {

    width: 90%;
    background-color: rgba(255, 255, 255, 0.37);
    margin: 0 auto;

}

.Process h1 {

    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-decoration-color: red;

}

.buttons {

    width: 100%;
    display: flex;
    justify-content: flex-end;

}

button {

    color: white;
    background-color: black;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;

}

.Edit {

    color: white;
    background-color: black;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid white;

}