.Jobs {

    background-color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
    background: url('https://images.pexels.com/photos/2733862/pexels-photo-2733862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    padding-top: 67px;

}

.Statistics {

    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

/* JOBS ADDED */

.ToggleMessageActive {

    transition: .5s;
    color: white;
    background-color: rgb(250, 181, 32);
    height: 50px;
    margin: 0 auto;

}

.ToggleMessageInactive {

    transition: .5s;
    color: rgba(0, 0, 0, 0);
    height: 0px;
    background-color: rgba(46, 145, 170, 0);
    height: 50px;
    margin: 0 auto;

}

a.updateActive {

    display: flex;
    justify-content: center;
    transition: .5s;
    width: 25%;
    background-color: rgb(250, 181, 32);
    border: none;
    margin: 0 auto;
    padding: 0px;
    margin-top: 10px;
    height: 25px;
    color: white;
    font-size: 17px;
    outline: none;
    text-decoration: none;
    border-radius: 5px;

}

a.updateInactive {

    display: flex;
    justify-content: center;
    transition: .5s;
    width: 25%;
    color: rgba(0, 0, 0, 0);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-bottom: 10px;
    height: 25px;
    font-size: 17px;
    outline: none;
    text-decoration: none;
    border-radius: 5px;

}

.JobContainer {

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.Job .Header{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 75px;

}

.CompanyName {

    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: red;

}

.Role {

    font-size: 15px;
    margin-top: 5px;
    color: rgb(53, 53, 53);

}

.Applied {

    display: flex;
    font-size: 15px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;

}

.Applied p {

    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.Applied .Date {

    font-weight: bold;

}

.Job .a {

    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    width: 25%;
    margin: 0 auto;
    transition: .3s;
    border-radius: 5px;

}

.Job .a:hover {

    color: black;
    background-color: white;
    transition: .3s;

}

.Stats {

    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.521);
    padding-bottom: 10px;

}

.Stats div {

    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    color: white;

}

.Stats div p {

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur( 5px );
    border: 3px solid white;
    padding: 40px;

}

div.rv-xy-plot {

    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur( 5px );
    margin: 0 auto;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    color: black;

}

text.rv-xy-plot__axis__tick__text {

    fill: rgb(0, 0, 0);
    
}

.ZoomControls {

    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

}

.ZoomControls .Zoom {

    color: white;
    margin-left: 10px;

}

.ZoomControls .Zoom:hover {

    cursor: pointer;

}