.App {

    text-align: center;
    font-size: calc(10px + 2vmin);

}
  
.App-header {

    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
  
header.HomePageHeader {
  
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 100%;
    position: absolute;
}
  
.HomePageHeader a {

    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: -10px;
    width: 110px;
    justify-content: center;

}
  
.HomePageHeader a.active {
  
    background-color: red;
    color: white;
    transition: .5s;
    width: 110px;
  
}
  
.Title {
  
    display: flex;
    padding: 10px;
    height: 50px;
    width: 350px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: red;
  
}

.TimeContainer {

    display: flex;
    padding: 10px;
    width: 350px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

}

h3 {

    width: 175px;
    
}

nav.category {

    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;

}

nav.category input {

    width: 150px;
    border-radius: 5px;
    border: none;
    padding: 5px;

}

.FilterNav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    background-color: rgba(235, 235, 235, 0.575);
    padding: 5px;
    margin-top: 50px;

}

.FilterNav h2 {

    text-decoration: underline;
    color: white;
    text-decoration-color: red;
    padding: 5px;

}

.FilterNav button {

    padding: 5px;
    background-color: red;
    color: white;
    min-width: 100px;
    align-items: center;

}

.Filters {

    width: 50%;
    margin: 0 auto;

}

.FiltersContainer {

    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.FiltersContainer div {

    display: flex;
    justify-content: center;

}

.Filters a {

    font-size: 12px;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: .1s;

}

.Filters a:hover {

    background-color: white;
    color: black;
    transition: .1s;
    
}

.Filters input {

    width: 200px;
    font-size: 12px;
    height: 20px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    color: black;

}

.Filters button {

    font-size: 12px;
    border-radius: 5px;

}

.Filters button:hover {

    color: black;
    background-color: white;

}

.More {

    height: 40px;

}

.SearchTitle {

    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    font-family: 'Lobster' , 'cursive';
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    
}

.JobContainer.Search {

    padding-bottom: 50px;

}