.TimeContainer {

    display: flex;
    padding: 10px;
    width: 350px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

}

h3 {

    width: 175px;
    
}